<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="2" name="Test" >
  <classes>
<class name="com.project.swiggy.SwiggyApplication.SeleniumGrid"/>

<class name="com.project.swiggy.SwiggyApplication.HomePageTest"/>

<class name="com.project.swiggy.SwiggyApplication.LoginTest"/>

<!-- <class name="org.cucumber.runner.AddToCartTest"/>
 --></classes>

	
	
	</test> 
</suite> 
